<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Estado de tu solicitud </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list class="ion-padding">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Recargando...">
      </ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="peticion.estado">

      <ion-item>
        <ion-icon name="checkmark-circle-outline" *ngSwitchCase="'solicitado'"></ion-icon>
        <ion-label>
          Solicitado
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="checkmark-circle-outline" *ngSwitchCase="'aceptado'"></ion-icon>
        <ion-label>
          Aceptado
        </ion-label>
      </ion-item>  
  
      <ion-item>
        <ion-icon name="checkmark-circle-outline" *ngSwitchCase="'aceptado'"></ion-icon>
        <ion-label>
          En camino
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="checkmark-circle-outline" *ngSwitchCase="'ejecucion'"></ion-icon>
        <ion-label>
          En ejecución
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="checkmark-circle-outline" *ngSwitchCase="'finalizado'"></ion-icon>
        <ion-label>
          Finalizado
        </ion-label>
      </ion-item>
  
    </div>

    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>
        <ion-text>
          <p>Direccion</p>
         <p>{{ direccion }}</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>
        <ion-text>
          <p>Método de pago</p>
          <p>efectivo o tarjeta</p>
        </ion-text>
      </ion-label>
      <ion-label>
        <ion-text *ngIf="servicio.precioMinuto <= 1000">
          <p>Valor aproximado</p>
          <p>${{ servicio.precioMinuto * hora | number}}</p>
        </ion-text>
        <ion-text *ngIf="servicio.precioMinuto > 1000">
          <p>Valor a pagar</p>
          <p>${{ servicio.precioMinuto | number }}</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>
          <p>Profesional</p>
          <p>{{ afiliado.Nombre }} {{ afiliado.Apellido }}</p>
        </ion-text>
      </ion-label>

      <ion-icon name="star"></ion-icon>
      <ion-label>{{ afiliado.Calificacion | number }}</ion-label>

      <ion-icon name="happy-outline"></ion-icon>

    </ion-item>

    <ion-item *ngIf="peticion.estado=='aceptado'">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>
        {{ peticion.codigo }}
      </ion-label>

      <ion-label class="ion-text-wrap" style="color: blue;">
        Mostrar código al afiliado cuando él llegue
      </ion-label>
    </ion-item>

    <ion-item lines="none" *ngIf="peticion.estado == 'aceptado'">
      <ion-button shape="round"  fill="outline" color="primary" href="https://wa.me/57{{ afiliado.Telefono }}">Comunicate</ion-button>
      <ion-button shape="round"  fill="outline" color="primary" (click)="meva()">Como vas con el afiliado</ion-button>
    </ion-item>

    <ion-button  shape="round"  fill="outline" color="primary"  *ngIf="peticion.estado == 'ejecucion'" (click)="meva()">Como vas con el afiliado</ion-button>
    <ion-button  expand="full" color="danger" class="ion-padding" (click)="cancelar()" *ngIf="peticion.estado=='solicitado' || peticion.estado=='aceptado'">Cancelar Servicio</ion-button>
    <ion-button  expand="full" color="primary" class="ion-padding"  id="ocultarPago" (click)="pagoTarjeta()" *ngIf="peticion.estado=='finalizado'">Pago con tarjeta</ion-button>
    <ion-button  expand="full" color="success" class="ion-padding"  id="ocultar" (click)="presentAlertRadio()" *ngIf="peticion.estado=='finalizado'">Calificar afiliado</ion-button>
    <ion-button  expand="full" color="danger" class="ion-padding" *ngIf="peticion.estado=='finalizado'" (click)="salir()">Salir</ion-button>

  </ion-list>

    

</ion-content>
