<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>      
    <ion-searchbar placeholder="Buscar" style="width: 180px;" color="primary" class="ion-padding" slot="primary"></ion-searchbar>
    <ion-title style="padding-left: 0px;"> Servicios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  [routerLink]="['/servicio-especifico', servicio.id]" *ngFor="let servicio of servicios">
    <img [src]="servicio.imagen"/>
    <ion-card-header>
      <ion-card-subtitle>Servicio</ion-card-subtitle>
      <ion-card-title>{{ servicio.nombreServicio }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ servicio.descripcion }}
    </ion-card-content>
  </ion-card>

</ion-content>