<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/servicios"></ion-back-button>
    </ion-buttons>      
    <ion-title> Servicio <small style="text-transform: uppercase;">{{ servicio.nombreServicio }}</small> </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <img [src]="servicio.imagen">
  
  
  <ion-item>
    <ion-icon name="location-outline"></ion-icon>  
    <ion-label>Dirección: </ion-label>
    <ion-input disabled> {{ direccion }} </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Método de pago</ion-label>
    <ion-select placeholder="Seleccione uno" [(ngModel)]="pago">
      <ion-select-option>Efectivo</ion-select-option>
      <ion-select-option>Tarjeta</ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-item *ngIf="servicio.precioMinuto <= 1000">
    <ion-label class="ion-text-wrap"> 
      Tarifa        &nbsp;&nbsp;&nbsp;&nbsp; 
      Hora: ${{servicio.precioMinuto*60}}   &nbsp;&nbsp;&nbsp;&nbsp; 
      Minuto: ${{servicio.precioMinuto}}
    </ion-label>
    
  </ion-item>

  <ion-item *ngIf="servicio.precioMinuto > 1000">
    <ion-label class="ion-text-wrap"> 
      Tarifa        &nbsp;&nbsp;&nbsp;&nbsp; 
      Precio/Unidad: ${{servicio.precioMinuto | number}}
    </ion-label>   
  </ion-item>

  
  
  <ion-button color="primary" 
              class="ion-padding"
              style="margin-left: 85px;"
              (click)="confirmacion()"
              >
              Confirmar
            </ion-button>

</ion-content>
