<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/servicios"></ion-back-button>
    </ion-buttons>      
    <ion-title> Buscando: <small style="text-transform: uppercase;">{{ termino }}</small> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-note color="danger" 
            class="ion-padding"
            style="font-size: large;"
            *ngIf="servicios.length === 0" >No existe resultado con el termino: {{ termino }}</ion-note>

  <ion-card  [routerLink]="['/servicio-especifico', servicio.id]" *ngFor="let servicio of servicios">
    <img [src]="servicio.imagen"/>
    <ion-card-header>
      <ion-card-subtitle>Servicio</ion-card-subtitle>
      <ion-card-title>{{ servicio.nombreServicio }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ servicio.descripcion }}
    </ion-card-content>
  </ion-card>

</ion-content>
